html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    padding: 12px;
    box-sizing: border-box;
    overflow: auto;
    background: #222831;
    color: #EEEEEE;
}

#left, #right {
    flex: 1;
    overflow: auto;
}

#left {
    order: 3;
}

#mid {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

#chessboard {
    width: min(400px, 100%, 75vh);
}

#evalDiv {
    display: flex;
    align-items: center;
}

h1 {
    width: 25%;
    margin: 0;
}

#control {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

button {
    background: #393E46;
    color: #EEEEEE;
    border: none;
    margin: 1px;
    padding: 8px;
    cursor: pointer;
    font-size: inherit;
    transition: all 0.25s;
}

button:hover {
    background: #26636B;
}

input {
    accent-color: #00ADB5;
    vertical-align: middle;
}

@media only screen and (min-width: 768px) {
    body {
        flex-direction: row;
    }

    #left {
        order: 0;
    }
}
